*ht.access

/**/
!/_build/
!/assets/
/assets/**/
!/assets/components/
/assets/components/**/
!/assets/components/jsonformbuilder/

!/core/
/core/**/
!/core/components
!/core/packages
/core/packages/*
!/core/packages/json*.zip

/core/components/**/
!/core/components/jsonformbuilder/